*, *::before, *::after {
    margin: 0;
    padding: 0;
}

main {
    width: 85vw;
    font-size: 4.267vw;
}

input[type="radio"] {
    opacity: 0;
}

input[type="radio"]:focus + label {
    background-color: yellow;
}

input[type="radio"]:checked + label {
    border-color: blue;
    background-color: yellow;
}

label {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
    border: 3px solid green;
    border-radius: 0.25rem;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 35vw;
    height: 17.5vw;
    border: 0.8vw solid green;
    background-color: white;
}

article.dragged {
    border-color: blue;
    z-index: 1;
}

article p {
    text-align: center;
    width: 90%;
}

article a {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    text-decoration: none;
    width: 4vw;
    height: 4vw;
}

article a img {
    width: 100%;
    height: 100%;
}

article:focus-within {
    background-color: yellow;
}

article a:focus {
    outline: none;
}