*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
    color: #AC3B61;
    font-weight: bold;
}

main {
    width: 85vw;
    margin: auto;
}


#controls-text {
    font-size: 1.5em;
    position: absolute;
    top: 1vw;
    left: 1vw;
}

#controls-text p:not(:first-of-type) {
    font-size: 1.25rem;
    font-style: italic;
}

#current-theme {
    font-size: 1.5em;
    position: absolute;
    top: 1vw;
    right: 1vw;
    width: fit-content;
    font-style: italic;
}

.hidden {
    display: none;
}

a {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.dragged {
    border: 3px solid blue;
    z-index: 1;
}

a>img {
    height: 50vh;
}

a:focus {
    outline: none;
}